# Mid-Module Assigment - Data PreProcessing

#### Loading the TSV
For now, we don't load the TSV with specific column data types.

From the cursory inspection, it looks like we would need to spend some effort in cleaning the last 2nd last column (column before Criteria). We would come back to it later after sanitising rest of the columns.

In [111]:
import pandas as pd
import numpy as np
import re
import json

df = pd.read_csv('./SIS_faculty_list.tsv', sep='\t', header=0)
# Let's fix the typo "divison" in the column name
df.rename(columns = {'Divison':'Division'}, inplace = True)
df.head(1)

,ID,Name,Location,Grade,Title,Join Date,LWD,Type,Division,Reports To,Highest Qualification Level,Highest Qualification,Major,University,All Qualifications from Profile,Courses Taught- Term 201510,MAJOR TEACHING FIELD,DOCUMENT OTHER PROFESSIONAL CERTIFICATION CRITIERA Five Years Work Experience Teaching Excellence Professional Certifications,Criteria
0,LT9210743,Jim Hunter,London,FA,Faculty - Business,29-Aug-10,NaN,Full Time,Business,Abbas Houda,Masters,Master of Arts,International Affairs,American University of Beirut,"Bachelor of Science (Communications), Master o...",BUS2403 - Innovation & Entrepreneurship BUS200...,Business Administration,"10+ Years Small Business Ownership, 10+ Years ...",Industry & Teaching experience

In [112]:
# Utility functions

def check_is_empty(x):
    if x is None or pd.isna(x) or pd.isnull(x):
        return True
    else:
        return False

def check_is_not_empty(x):
    return not check_is_empty(x)

#### Inspecting for missing values

From the output below, we can see that the series for LWD (Last Working Day) is 96% empty. This is a column we should `drop` - since we can't impute this column for missing values and the missing percentage is **too high**.

In [113]:
missing_percentages = (df.isnull().sum() / len(df)) * 100
for k, v in missing_percentages.items():
    if v > 10:
        print('Column: ' + k + ' has missing value %: ' + str(v))

Column: LWD has missing value %: 96.12676056338029
Column: MAJOR TEACHING FIELD has missing value %: 20.774647887323944
Column: DOCUMENT OTHER PROFESSIONAL CERTIFICATION CRITIERA Five Years Work Experience Teaching Excellence Professional Certifications has missing value %: 21.830985915492956

#### Dropping unneccessary columns - 'LWD'
From the above inspection (for missing values), LWD is chosen to be dropped.

In [114]:
df.drop('LWD', axis=1, inplace=True)
print('LWD column is dropped')

LWD column is dropped

#### Dropping unneccessary columns - 'ID' and 'Name'
I want to drop the `ID` and `Name` columns as well, since its a unique identifier and not useful for ML purposes. But before dropping the `ID` column, I want to make sure that there are `no duplicate rows` for `ID` and `Name` - which could `potentially help in imputing missing values`

As we can see below, `no 2 IDs are repeated`.

In [115]:
# Filter all rows where ID = NaN or '0'
temp_check = df.dropna()
temp_check = temp_check.loc[temp_check['ID'] != '0']
ids = temp_check['ID']
temp_check[ids.isin(ids[ids.duplicated()])]

Empty DataFrame
Columns: [ID, Name, Location, Grade, Title, Join Date, Type, Division, Reports To, Highest Qualification Level, Highest Qualification, Major, University, All Qualifications from Profile, Courses Taught- Term 201510, MAJOR TEACHING FIELD, DOCUMENT OTHER PROFESSIONAL CERTIFICATION CRITIERA Five Years Work Experience Teaching Excellence Professional Certifications, Criteria]
Index: []

As an additional check, we can also look at name duplications - which has only two instances - both of which, are for distinct persons (by looking at the data in rest of the columns)

In [116]:
# Lets see if any two rows have same name
names = df['Name']
df[names.isin(names[names.duplicated()])]

,ID,Name,Location,Grade,Title,Join Date,Type,Division,Reports To,Highest Qualification Level,Highest Qualification,Major,University,All Qualifications from Profile,Courses Taught- Term 201510,MAJOR TEACHING FIELD,DOCUMENT OTHER PROFESSIONAL CERTIFICATION CRITIERA Five Years Work Experience Teaching Excellence Professional Certifications,Criteria
44,LT9276009,Amanda Hobson,Manchester,FA,Faculty - Business,18-Aug-13,Full Time,Business,Ian Varley,Doctorate,Ph.D,Business Management,Univ of the Sunshine Coast,"Ph.D (Business Management), Post Graduate Cert...",BUS2203 - Business Stats for Managers BUS2303 ...,Economics/ Business Administration,"PGCE, 11 years teaching experience",Industry & Teaching experience
45,LT9004065,Amanda Hobson,NaN,FA,Faculty - Business,16-Sep-02,Full Time,Business,Ian Varley,Doctorate,Doctorate in Marketing,Marketing,University of Westminster,Master of Business Administrat (Business Admin...,CSD1023 - The Crime of Smuggling BUS4563 - Str...,Business Administration/ Marketing,ICDL IRB Instructional Skills Workshops (ISW) ...,Industry & Teaching experience
131,LT9234672,Zikida Koudou,Cardiff,FA,Faculty - Business,26-Aug-12,Full Time,Business,Harriet Mensah,Masters,Masters,Hospitality Management,University of Houston,"Bachelor (Hotel Restaurant Tourism Admin), Mas...",BUS1403 - Business Ethics and Corporate BUS120...,Economics/Management/Marketing/Tourism/Hospita...,Yrs of Teaching Experience - 15 years Prof...,Certification
144,LT9328996,Zikida Koudou,Belfast,FA,Faculty - Business,9-Aug-15,Full Time,Business,Orlamei Princess,Doctorate,Ph.D,Economics Science,University of Montenegro,"Ph.D (Economics Science), Bachelor (Ecological...",BUS3103 - Internat Busi Globalisation BSD2252 ...,NaN,NaN,Industry & Teaching experience

In [117]:
df.drop('ID', axis=1, inplace=True)
print('ID column is dropped')

df.drop('Name', axis=1, inplace=True)
print('Name colum is dropped')

ID column is dropped
Name colum is dropped

#### Inspecting For Typos - Location ... Major
To do this, we simply take a frequency count, and manually inspect occurences which have low values (less than 5) - since typos are often not repeated.

In [118]:
column_names = ['Location', 'Grade', 'Title', 'Type', 'Division', 
                'Highest Qualification Level', 'Highest Qualification', 'Major']
for column_name in column_names:
    freqs = df[column_name].value_counts()
    for k, count in freqs.items():
        if count < 5:
            print('Low frequency count: ' + str(count) + ' for the value: ' + k + ' in column: ' + column_name)
    print('----')

Low frequency count: 4 for the value: Glasgow in column: Location
Low frequency count: 3 for the value: Birmingham in column: Location
Low frequency count: 3 for the value: Southampton in column: Location
Low frequency count: 2 for the value: Cardiff  in column: Location
Low frequency count: 2 for the value: Brighton in column: Location
----
Low frequency count: 2 for the value: Chair in column: Grade
----
Low frequency count: 2 for the value: Faculty- Business in column: Title
Low frequency count: 1 for the value: Faculty - Business (Admin) in column: Title
Low frequency count: 1 for the value: Graduate Trainee in column: Title
Low frequency count: 1 for the value: Faculty - Business  in column: Title
Low frequency count: 1 for the value: Faculty - Business & Comp Lit. in column: Title
Low frequency count: 1 for the value: Faculty - Business & Comp Lit Faculty in column: Title
Low frequency count: 1 for the value: Business, Comp & Math Faculty in column: Title
Low frequency count: 1 for the value: Faculty-Business in column: Title
Low frequency count: 1 for the value: Faculty-Business (HR & Admin.) in column: Title
----
----
----
Low frequency count: 1 for the value: Bachelor (Applied Science) in Business administration( Human Resources ) in column: Highest Qualification Level
Low frequency count: 1 for the value: Master's Degree in Public Relations and Press Office Management in column: Highest Qualification Level
Low frequency count: 1 for the value: MBA in column: Highest Qualification Level
Low frequency count: 1 for the value: Doctor of Jurisprudence Degree in column: Highest Qualification Level
Low frequency count: 1 for the value: MBA in Banking & Finance in column: Highest Qualification Level
Low frequency count: 1 for the value:  Ph. D. (Business Administration) in column: Highest Qualification Level
Low frequency count: 1 for the value: Ph.D in Organization and Management  in column: Highest Qualification Level
Low frequency count: 1 for the value: Master of International Business in column: Highest Qualification Level
Low frequency count: 1 for the value: Masters (Business Administration), Master of Philosophy (Business) in column: Highest Qualification Level
Low frequency count: 1 for the value: Master of Business Administration (MBA) and MA (Economics) in column: Highest Qualification Level
Low frequency count: 1 for the value: Maters of Philosophy (Economics) in column: Highest Qualification Level
Low frequency count: 1 for the value: PhD Corporate Governance and Accounting in column: Highest Qualification Level
Low frequency count: 1 for the value: Ph.D (Economics) in column: Highest Qualification Level
Low frequency count: 1 for the value:  Doctorate of Business Administration in column: Highest Qualification Level
----
Low frequency count: 4 for the value: Master of Philosophy in column: Highest Qualification
Low frequency count: 4 for the value: Doctorate in Philosophy in column: Highest Qualification
Low frequency count: 3 for the value: Master of Management in column: Highest Qualification
Low frequency count: 2 for the value: MA in International Business in column: Highest Qualification
Low frequency count: 2 for the value: Master of Law in column: Highest Qualification
Low frequency count: 2 for the value: Ph.D in Economics in column: Highest Qualification
Low frequency count: 2 for the value: Master of Education in column: Highest Qualification
Low frequency count: 2 for the value: MBA in column: Highest Qualification
Low frequency count: 2 for the value: Master of Business in column: Highest Qualification
Low frequency count: 1 for the value: Ph.D In Economics in column: Highest Qualification
Low frequency count: 1 for the value: MA International Business in column: Highest Qualification
Low frequency count: 1 for the value: Bachelor in column: Highest Qualification
Low frequency count: 1 for the value: Ph.D in Management  in column: Highest Qualification
Low frequency count: 1 for the value: Doctorate in Marketing in column: Highest Qualification
Low frequency count: 1 for the value: Masters in Quality Management in column: Highest Qualification
Low frequency count: 1 for the value: Maters of Philosophy (Economics) in column: Highest Qualification
Low frequency count: 1 for the value: International Business &Market in column: Highest Qualification
Low frequency count: 1 for the value: Ph.D in Public Policy and Administration  in column: Highest Qualification
Low frequency count: 1 for the value: Master of Strategic HR mgmt. in column: Highest Qualification
Low frequency count: 1 for the value: Masters (Business Administration), Master of Philosophy (Business) in column: Highest Qualification
Low frequency count: 1 for the value: Masters of Distance Education in column: Highest Qualification
Low frequency count: 1 for the value: Bachelor of Science in column: Highest Qualification
Low frequency count: 1 for the value: PhD In Economic Sciences in column: Highest Qualification
Low frequency count: 1 for the value: Ph.D In Middle eastern and Islamic Studies in column: Highest Qualification
Low frequency count: 1 for the value: MA in Teaching in column: Highest Qualification
Low frequency count: 1 for the value: Master of Professional Studies in column: Highest Qualification
Low frequency count: 1 for the value: Ph.D in Business Management in column: Highest Qualification
Low frequency count: 1 for the value: Mast of Applied Finance in column: Highest Qualification
Low frequency count: 1 for the value: Economics and Business in column: Highest Qualification
Low frequency count: 1 for the value: Ph.D in Education in column: Highest Qualification
Low frequency count: 1 for the value: MA in Accounting in column: Highest Qualification
Low frequency count: 1 for the value: Ph.D in HRM/ Organizational pyschology in column: Highest Qualification
Low frequency count: 1 for the value: Ph.D in Accounting in column: Highest Qualification
Low frequency count: 1 for the value: Ph.D In education and Human Resources Studies in column: Highest Qualification
Low frequency count: 1 for the value: Bachelor of Business Admin. in column: Highest Qualification
Low frequency count: 1 for the value: Master's Degree in Public Relations and Press Office Management in column: Highest Qualification
Low frequency count: 1 for the value: Master of in column: Highest Qualification
Low frequency count: 1 for the value: PhD in Business Administration in column: Highest Qualification
Low frequency count: 1 for the value: Master of Business Administration (MBA) and MA (Economics) in column: Highest Qualification
Low frequency count: 1 for the value: Management Science in column: Highest Qualification
Low frequency count: 1 for the value: Masters in Engineering in column: Highest Qualification
Low frequency count: 1 for the value: Ph.D in Management Sciences in column: Highest Qualification
Low frequency count: 1 for the value: Doctorate in Business Admin in column: Highest Qualification
Low frequency count: 1 for the value: Master of Marketing in column: Highest Qualification
Low frequency count: 1 for the value: Ph.D In Accounting in column: Highest Qualification
Low frequency count: 1 for the value: Bachelor (Applied Science) in Business administration( Human Resources ) in column: Highest Qualification
Low frequency count: 1 for the value: Master of Education Technology in column: Highest Qualification
Low frequency count: 1 for the value: Ph.D in Economics and International Business  in column: Highest Qualification
Low frequency count: 1 for the value: Master of International Business in column: Highest Qualification
----
Low frequency count: 4 for the value: Business Adm (Hum Resources) in column: Major
Low frequency count: 4 for the value: Education in column: Major
Low frequency count: 3 for the value: Accounting & Finance in column: Major
Low frequency count: 3 for the value: Information Management in column: Major
Low frequency count: 2 for the value: HRM and Organizational Behaviour  in column: Major
Low frequency count: 2 for the value: International Management in column: Major
Low frequency count: 2 for the value: Executive MBA in column: Major
Low frequency count: 2 for the value: Tourism Tourist & Hotel Mgt. in column: Major
Low frequency count: 2 for the value: Business Marketing in column: Major
Low frequency count: 2 for the value: Financial Management in column: Major
Low frequency count: 2 for the value: E-Commerce in column: Major
Low frequency count: 2 for the value: General Management in column: Major
Low frequency count: 2 for the value: Quality Management in column: Major
Low frequency count: 2 for the value: Banking in column: Major
Low frequency count: 2 for the value: Management Information System in column: Major
Low frequency count: 2 for the value: International Marketing in column: Major
Low frequency count: 2 for the value: Law in column: Major
Low frequency count: 1 for the value: General Business Admin in column: Major
Low frequency count: 1 for the value: Interdisciplinary Studies in column: Major
Low frequency count: 1 for the value: Commerce and Accounting in column: Major
Low frequency count: 1 for the value: Statistics in column: Major
Low frequency count: 1 for the value: Internal Auditing in column: Major
Low frequency count: 1 for the value: General Business in column: Major
Low frequency count: 1 for the value: HRM/ Organizational Psychology in column: Major
Low frequency count: 1 for the value: Risk Management & FS Analysis in column: Major
Low frequency count: 1 for the value: European Business Studies in column: Major
Low frequency count: 1 for the value: Occupational Psychology in column: Major
Low frequency count: 1 for the value: Leadership & Management in column: Major
Low frequency count: 1 for the value: Economic Sociology in column: Major
Low frequency count: 1 for the value: HRM and tourism in column: Major
Low frequency count: 1 for the value: Islamic Finance in column: Major
Low frequency count: 1 for the value: Total Quality Management in column: Major
Low frequency count: 1 for the value: Economics Science in column: Major
Low frequency count: 1 for the value: Advanced Info Systems & Mgt in column: Major
Low frequency count: 1 for the value: Public Admin & Public Policy in column: Major
Low frequency count: 1 for the value: Oper. Resch. & Mgt. Info. Sys. in column: Major
Low frequency count: 1 for the value: Applied  Linguistics in column: Major
Low frequency count: 1 for the value: Human Resource Development  in column: Major
Low frequency count: 1 for the value: Economics  in column: Major
Low frequency count: 1 for the value: Organizational Excellence in column: Major
Low frequency count: 1 for the value: Organisation Mgmt IT Mgmt in column: Major
Low frequency count: 1 for the value: Logistics Engineering in column: Major
Low frequency count: 1 for the value: Operational Research in column: Major
Low frequency count: 1 for the value: Intl Law and Intl Relations in column: Major
Low frequency count: 1 for the value: Advance Accounting in column: Major
Low frequency count: 1 for the value: Forensic Accounting in column: Major
Low frequency count: 1 for the value: Organization and Management in column: Major
Low frequency count: 1 for the value: Accounting & Finance  in column: Major
Low frequency count: 1 for the value: Islamic Nanking and Finance in column: Major
Low frequency count: 1 for the value: Adult Education in column: Major
Low frequency count: 1 for the value: Business Adm (General) in column: Major
Low frequency count: 1 for the value: Social Science in column: Major
Low frequency count: 1 for the value: Hospitality Management in column: Major
Low frequency count: 1 for the value: HRM  in column: Major
Low frequency count: 1 for the value: Organization And Leadership in column: Major
Low frequency count: 1 for the value: Engineering in column: Major
Low frequency count: 1 for the value: Health Administration in column: Major
Low frequency count: 1 for the value: Finance/ Economics  in column: Major
Low frequency count: 1 for the value: HRM and Strategic Mgt in column: Major
Low frequency count: 1 for the value: Economics Sciences in column: Major
Low frequency count: 1 for the value: Business Education in column: Major
Low frequency count: 1 for the value: Criminology & Criminal Justice in column: Major
Low frequency count: 1 for the value: eBusiness Policy Development in column: Major
Low frequency count: 1 for the value: International Affairs in column: Major
Low frequency count: 1 for the value: International Education in column: Major
Low frequency count: 1 for the value: Business Leadership  in column: Major
Low frequency count: 1 for the value: eBusiness Management in column: Major
Low frequency count: 1 for the value: Taxation in column: Major
Low frequency count: 1 for the value: Integrtd Textile & Apparel Sci in column: Major
Low frequency count: 1 for the value: Marketing Management in column: Major
Low frequency count: 1 for the value: Information Technology in column: Major
Low frequency count: 1 for the value: International Banking &Finance in column: Major
Low frequency count: 1 for the value: Labor Management in column: Major
Low frequency count: 1 for the value: Psychology in column: Major
Low frequency count: 1 for the value: Professional Studies in column: Major
Low frequency count: 1 for the value: E-Business in column: Major
Low frequency count: 1 for the value: International Administration in column: Major
Low frequency count: 1 for the value: Management Sciences in column: Major
Low frequency count: 1 for the value: Educational Technology in column: Major
Low frequency count: 1 for the value: Teaching in column: Major
Low frequency count: 1 for the value: Commericial & Corporate Law in column: Major
Low frequency count: 1 for the value: Instructional Technology in column: Major
Low frequency count: 1 for the value: Educational Leadership in column: Major
Low frequency count: 1 for the value: Financial Economics  in column: Major
Low frequency count: 1 for the value: Strategic Business & IT in column: Major
Low frequency count: 1 for the value: Public Administration in column: Major
Low frequency count: 1 for the value: Agricultural  Economics in column: Major
Low frequency count: 1 for the value: Management and Financial Mgt in column: Major
Low frequency count: 1 for the value: Commerce & Management Studies in column: Major
Low frequency count: 1 for the value: Economics& Management in column: Major
Low frequency count: 1 for the value: TESOL in column: Major
Low frequency count: 1 for the value: Business Computing Science in column: Major
Low frequency count: 1 for the value: Business Info. Technology in column: Major
Low frequency count: 1 for the value: Finance and Islamic Banking & Finance in column: Major
Low frequency count: 1 for the value: Managerial Economics/ Business Strategy in column: Major
Low frequency count: 1 for the value: Global Human Resource Mngt in column: Major
Low frequency count: 1 for the value: HRD in column: Major
Low frequency count: 1 for the value: HRM in column: Major
Low frequency count: 1 for the value: Applied Business in column: Major
Low frequency count: 1 for the value: Innovative Management in column: Major
Low frequency count: 1 for the value: Operation Management in column: Major
Low frequency count: 1 for the value: Economics and International Business  in column: Major
Low frequency count: 1 for the value: Energy Management in column: Major
----

From the above, we can note the following things - 

*Columns which are OK*
1. Location
2. Grade
3. Type
4. Division

-----

*Columns which are NOT OK*
1. `Title` series has too many variations in writing the same thing - **we need to clean this column** (more on this in further sections)
2. `Highest Qualification Level` also requires multiple cleanups - for e.g. `Ph. D. ...`, `PhD.`, `Doctorate` etc., `Master of`, `Masters in` etc., mean the same things - **we need to clean this column** (more on this in further sections)

-----

*Columns which cannot be inspected at the moment (too many results)*

`Highest Qualification`, `Major` `All Qualifications from Profile` have too many results to check individually - we need to apply other techniques for more efficient cleanups

#### Cleaning up 'Title' column

Lets revisit the frequency count in title again

In [119]:
df['Title'].value_counts()

Faculty - Business                       252
Faculty - Trainee                         13
Adjunct Faculty - Business                 9
Faculty- Business                          2
Faculty - Business (Admin)                 1
Graduate Trainee                           1
Faculty - Business                         1
Faculty - Business & Comp Lit.             1
Faculty - Business & Comp Lit Faculty      1
Business, Comp & Math Faculty              1
Faculty-Business                           1
Faculty-Business (HR & Admin.)             1
Name: Title, dtype: int64

In [120]:
# Cleaning up a few things
df['Title'] = df['Title'].str.replace('Faculty- B', 'Faculty - B')
df['Title'] = df['Title'].str.replace('Faculty-B', 'Faculty - B')
df['Title'] = df['Title'].str.replace('Admin.', 'Admin', regex=False)
df['Title'] = df['Title'].str.replace('Admin', 'Administration', regex=False)
df['Title'] = df['Title'].str.replace('Comp Lit.', 'Comparative Literature', regex=False)
df['Title'] = df['Title'].str.replace('Comp Lit', 'Comparative Literature')
df['Title'] = df['Title'].str.replace('Comp & Math', 'Computing and Math')
df['Title'] = df['Title'].str.strip()
df['Title'].value_counts()

Faculty - Business                                     256
Faculty - Trainee                                       13
Adjunct Faculty - Business                               9
Business, Computing and Math Faculty                     1
Faculty - Business (Administration)                      1
Graduate Trainee                                         1
Faculty - Business & Comparative Literature Faculty      1
Faculty - Business & Comparative Literature              1
Faculty - Business (HR & Administration)                 1
Name: Title, dtype: int64

From the above output, we still need to cleanup the titles - as the word **Faculty** can appear in the beginnning or at the end. Let us **remove the word Faculty** from the title, and store it in a separate column called **Title Prefix**

In [121]:
def filter_title(row):
    if check_is_empty(row['Title']):
        return None
    if 'adjunct faculty' in row['Title'].lower():
        return 'Adjunct Faculty'
    elif 'faculty' in row['Title'].lower():
        return 'Faculty'
    elif 'graduate trainee' in row['Title'].lower():
        return 'Graduate Trainee'
    else:
        return None
df['Title Prefix'] = df.apply(lambda row : filter_title(row), axis=1)

# Verify if any row is left out
temp_check = df[['Title', 'Title Prefix']]
temp_check[temp_check['Title Prefix'].isna()]

Empty DataFrame
Columns: [Title, Title Prefix]
Index: []

Its good that there is no row for which **Title Prefix** was not filled, now let's replace occurrence of **Faculty / Adjunct Faculty** or **Graduate Trainee** in title column with empty string

In [122]:
def title_cleanup(row):
    # Case insenstive replace with empty string
    row['Title'] = re.sub('adjunct faculty', '', row['Title'], flags=re.IGNORECASE)
    row['Title'] = re.sub('faculty', '', row['Title'], flags=re.IGNORECASE)
    row['Title'] = re.sub('graduate trainee', '', row['Title'], flags=re.IGNORECASE)
    # Replace all instances of '-' with empty string
    row['Title'] = row['Title'].replace('-', '')
    row['Title'] = row['Title'].strip()

df.apply(lambda row : title_cleanup(row), axis=1)
df['Title'].value_counts()

Business                             265
Trainee                               13
Business & Comparative Literature      2
                                       1
Business (Administration)              1
Business (HR & Administration)         1
Business, Computing and Math           1
Name: Title, dtype: int64

**Optionally** - We could have further split the title values by **','** or **'&'** since:
1. `[Business, Computing and Math]` and `[Computing and Math, Business]` should be treated as same thing
- To fix that, we could sort (ascending) the order in which terms appear
2. If `[Business (HR & Administration)]` could be further written like this - `[Business (Administration), Business (HR)]` so that ML analysis could derive partial similarity between this and `[Business (Administration)]`

However, in the interest of time (and too low count to meaningfully affect current output) - we can **skip this step**.

#### Imputing 'Highest Qualification Level (HQL)' and 'Highest Qualification (HQ)'

Let us analyse the **HQL - HQ** values below.

In [123]:
df.rename(columns = {'Highest Qualification Level':'HQL'}, inplace = True)
df.rename(columns = {'Highest Qualification':'HQ'}, inplace = True)
df.rename(columns = {'All Qualifications from Profile':'AQP'}, inplace = True)

temp_check = df[['HQL', 'HQ', 'AQP']]
temp_check[temp_check['HQL'].isna()]

     HQL   HQ                                                AQP
19   NaN  NaN  Post Graduate Diploma (Political Science), Mas...
99   NaN  NaN  Bachelor (Hospitality Management), Masters (Bu...
101  NaN  NaN            Masters (Finance), Bachelor (Economics)
245  NaN  NaN          Bachelor (Accounting), Masters (Business)
258  NaN  NaN  Masters (Finance), Bachelor (Accounting & Fina...
259  NaN  NaN  Bachelor (English Language & Literature), Mast...

No scope of imputation for HQL **from HQ**. We can, however, **impute certain values from AQP**. We will **revisit this imputation later**, when we analyze AQP in more detail.

Below is the inverse of above - all rows where HQ is NA.

In [124]:
temp_check[temp_check['HQ'].isna()]

     HQL   HQ                                                AQP
19   NaN  NaN  Post Graduate Diploma (Political Science), Mas...
99   NaN  NaN  Bachelor (Hospitality Management), Masters (Bu...
101  NaN  NaN            Masters (Finance), Bachelor (Economics)
245  NaN  NaN          Bachelor (Accounting), Masters (Business)
258  NaN  NaN  Masters (Finance), Bachelor (Accounting & Fina...
259  NaN  NaN  Bachelor (English Language & Literature), Mast...

Same as before. As mentioned earlier, imputation of HQL and HQ **from AQP will be considered later** (after this section).

As a last check, let's see if `len(HQL) > len(HQ)` for any row. This would imply that the data was mistakenly filled (swapped).

In [125]:
temp_check = df[(df['HQL'].str.len() > df['HQ'].str.len()) & (df['HQL'].str.lower() != 'doctorate')]
temp_check[['HQL', 'HQ']]

                                         HQL         HQ
72                  MBA in Banking & Finance        MBA
75            Doctor of Jurisprudence Degree  Doctorate
154     Ph.D in Organization and Management   Doctorate
243  PhD Corporate Governance and Accounting  Doctorate
263         Ph. D. (Business Administration)  Doctorate
274     Doctorate of Business Administration  Doctorate
277                         Ph.D (Economics)  Doctorate

Clearly, we can see that the values of HQL and HQ **have been swapped in multiple places**.

In [126]:
for idx in list(temp_check.index.values):
    swap_temp = df.loc[idx, 'HQ']
    df.at[idx, 'HQ'] = df.loc[idx, 'HQL']
    df.at[idx, 'HQL'] = swap_temp

df[['HQL', 'HQ']].iloc[list(temp_check.index.values)]

           HQL                                       HQ
72         MBA                 MBA in Banking & Finance
75   Doctorate           Doctor of Jurisprudence Degree
154  Doctorate     Ph.D in Organization and Management
243  Doctorate  PhD Corporate Governance and Accounting
263  Doctorate         Ph. D. (Business Administration)
274  Doctorate     Doctorate of Business Administration
277  Doctorate                         Ph.D (Economics)

#### Cleaning up 'HQL'

Now, that the imputation is done (wherever possible), let's see if we can clean the column values. From the below data, we can do the following:

1. Any case-insensitive occurrence of `Ph.D`, `PhD`, `Ph. D.`, `PhD.`, `Doctor of`, `Doctorate of` can be labelled as Doctorate.
2. **After Step 1** - Any case-insensitive occurence of `Masters`, `Master`, `MBA` can be labelled as Masters. Note: Its important to note that for the purposes of this ML system, **MBA is treated equivalent to Masters.**
3. **After Step 2** - Any case-insensitive occurence of `Bachelor`, `Bachelors` can be labelled as Bachelor.

In [127]:
df['HQL'].value_counts()

Masters                                                                     157
Doctorate                                                                    58
Ph.D                                                                         43
Bachelor                                                                     12
MBA                                                                           2
Bachelor (Applied Science) in Business administration( Human Resources )      1
Master of International Business                                              1
Maters of Philosophy (Economics)                                              1
Master of Business Administration (MBA) and MA (Economics)                    1
Masters (Business Administration), Master of Philosophy (Business)            1
Master's Degree in Public Relations and Press Office Management               1
Name: HQL, dtype: int64

In [128]:
# Occurrences of the values on the left, will be replaced with the key on the right
replace_map = {
    'T_D' : ['phd.', 'ph.d.', 'ph.d', 'ph. d.', 'ph. d', 'phd', 'doctorate', 'doctor'],
    'T_M' : ['masters', "master's", 'master of', 'master', 'mba', 
                   # this is to fix a typo in the TSV
                   'maters'],
    'T_B' : ['bachelors', 'bachelor']
}
final_value_map = {
    'T_D' : 'Doctorate',
    'T_M' : 'Masters',
    'T_B' : 'Bachelor'
}
def hql_cleanup(row):
    # replacement in order
    for key in ['T_D', 'T_M', 'T_B']:
        values = replace_map[key]
        for value in values:
            if check_is_not_empty(row['HQL']) and value in row['HQL'].lower():
                row['HQL'] = key
    
    if check_is_not_empty(row['HQL']):
        row['HQL'] = final_value_map[row['HQL']]

df.apply(lambda row : hql_cleanup(row), axis=1)
df['HQL'].value_counts()

Masters      164
Doctorate    101
Bachelor      13
Name: HQL, dtype: int64

#### Cleaning up 'Highest Qualification'

From the below output, we can observe some general cleanups
1. `Ph.D`, `PhD.` etc could be merged to a single representation (similar to what was done for HQ)
2. `Master`, `Masters`, `Mast` etc in the qualification names should be merged to a single representation
3. `Administrat` should be renamed to `Administration` (and fixing typos like `administrationion`)
4. All names could be `lowercased` to remove differences
5. Replace cells which are just Ph.D or Masters with `na`. This is because, the information is already encapsulated in `HQL` columm. This provides no additional value. 
6. However, we will preserve single letter values like `MBA` (Masters in Business Administration) and `MA` (Master of Arts) as they provide extra info.
7. `of`, `Of` or `in`, `In` cause differences at string level. It would be good if we can think of better representation - which overlooks differences in adverbs/adjectives. For example, a **comma separated tuple representation - (Qualification, Course)** could be more meaningful. In code, we tupulize it to `(Qualification$$Course)` as it is easy to split later on

In [129]:
df['HQ'] = df['HQ'].str.strip()
df['HQ'].value_counts()

Master of Business Administrat                                              73
Ph.D                                                                        63
Master of Science                                                           18
Masters                                                                     17
Master of Commerce                                                           9
                                                                            ..
Ph.D In Accounting                                                           1
MBA                                                                          1
Bachelor (Applied Science) in Business administration( Human Resources )     1
Master of International Business                                             1
MA in Teaching                                                               1
Name: HQ, Length: 66, dtype: int64

In [130]:
# Occurrences of the values on the left, will be replaced with the key on the right
replace_map = {
    'T_P' : ['phd.', 'ph.d.', 'ph.d', 'ph. d.', 'ph. d', 'phd', 'doctorate', 'doctor of'],
    'T_M' : ['masters', "master's", 'master', 'mast', 'mba'],
    'T_B' : ['bachelors', 'bachelor'],
    'T_MB' : ['mba']
}

def basic_replacements(row, col_key):
        for key, values in replace_map.items():
            for value in values:
                if check_is_not_empty(row[col_key]):
                    row[col_key] = row[col_key].lower().replace(value, key.lower())

        # Other cleanup(s)
        if check_is_not_empty(row[col_key]):
            row[col_key] = row[col_key].replace('administrat', 'administration')
            row[col_key] = row[col_key].replace('administrationion', 'administration')
            row[col_key] = row[col_key].replace('admin.', 'administration')
            
def hq_tupulizer(col_key):
    df.apply(lambda row : basic_replacements(row, col_key), axis=1)

    # Replace cells containing ONLY 1 word - t_p, t_m, etc.
    df.replace(r"\bt_p$\b", np.nan, regex=True, inplace=True)
    df.replace(r"\bt_m$\b", np.nan, regex=True, inplace=True)
    df.replace(r"\bt_b$\b", np.nan, regex=True, inplace=True)
    # Replace cells containing ONLY 1 word and 'in' or 'of' - t_p, t_m, etc.
    df.replace(r"\bt_p\s+(of|in)$\b", np.nan, regex=True, inplace=True)
    df.replace(r"\bt_m\s+(of|in)$\b", np.nan, regex=True, inplace=True)
    df.replace(r"\bt_b\s+(of|in)$\b", np.nan, regex=True, inplace=True)
    
    # Note: we are leaving single word cells with `ma`, `t_mb` as it is ^

    # Convert data into a tuple-like represenation (Level$$Qualification)
    df[col_key].replace(
        {r'\b(t_p|t_mb|t_b|t_m|ma)\s+(of\s|in\s)?\(?([\w|\s|&|/]*)\)?' : r'(\1$$\3)'}, 
        regex=True, 
        inplace=True
    )
    
    # Replace empty spaces after '(' or before ')'
    df[col_key].replace(
        {r'(?<=[([]) +| +(?=[)\]])' : ''}, 
        regex=True, 
        inplace=True
    )

hq_tupulizer('HQ')
df['HQ'].value_counts()

(t_m$$business administration)                                        73
(t_m$$science)                                                        18
(t_p$$business administration)                                        10
(t_b$$applied science)                                                 9
(t_m$$commerce)                                                        9
(t_m$$arts)                                                            7
(t_p$$economics)                                                       4
(t_p$$philosophy)                                                      4
(t_m$$philosophy)                                                      4
(t_m$$management)                                                      3
(ma$$international business)                                           3
(t_p$$accounting)                                                      2
(t_m$$law)                                                             2
(t_m$$business)                                                        2
(t_m$$education)                                                       2
(t_p$$economic sciences)                                               1
(t_p$$education and human resources studies)                           1
(t_m$$business administration), (t_m$$philosophy)(business)            1
(t_m$$banking & finance)                                               1
(t_m$$quality management)                                              1
(t_p$$organization and management)                                     1
(t_m$$degree in public relations and press office management)          1
(t_m$$applied finance)                                                 1
(t_p$$management sciences)                                             1
(t_m$$distance education)                                              1
(t_m$$business administration)(t_m) and (ma$$economics)                1
(ma$$teaching)                                                         1
(t_p$$public policy and administration)                                1
(t_m$$engineering)                                                     1
(t_p$$jurisprudence degree)                                            1
(t_p$$middle eastern and islamic studies)                              1
(t_p$$marketing)                                                       1
(t_p$$education)                                                       1
(t_m$$strategic hr mgmt).                                              1
(t_m$$international business)                                          1
(t_p$$corporate governance and accounting)                             1
(t_b$$business administration)                                         1
economics and business                                                 1
maters of philosophy (economics)                                       1
(t_b$$applied science) in business administration(human resources)     1
(ma$$accounting)                                                       1
(t_m$$professional studies)                                            1
(t_p$$management)                                                      1
(t_b$$science)                                                         1
international business &market                                         1
(t_p$$hrm/ organizational pyschology)                                  1
(t_p$$business management)                                             1
management science                                                     1
(t_m$$marketing)                                                       1
(t_m$$education technology)                                            1
(t_p$$economics and international business)                            1
(t_p$$business admin)                                                  1
Name: HQ, dtype: int64

##### Few notes from above output - 

1. We didn't gain a very high advantage in consolidating outputs, but **atleast** we can easily see the outliers now - which have incorrect pattern
2. For example - `(t_m$$business administration )(t_m) and (ma$$economics)` has two qualifications - which is wrong
3. Some entries like `international business &market`, `management science` don't specify the level.
4. We **can write a more complex logic** for preserving the second half in entries like - 
```
Bachelor (Applied Science) in Business administration( Human Resources )   --> (t_b$$applied science) in business administration(human resources)
```
However, to keep it in common with other entries like `(t_b$$applied science)` - we don't process it further


**Also, note that** - `(t_m$$arts)` and `ma`  ... or `(t_m$$business administration)` and `mba` can be considered equivalent and replaced. (This equivalence however, is not implemented for now)

---

Finally, lets clean and replace the values not matching with our pattern `(Level$$Qualification)` with `na`

In [131]:
hq_search_regex = '\((t_p|t_mb|t_b|t_m|ma)\$\$[\w|\s|&|/]+\)'
def hq_cleaner(row, col_key):
    if check_is_not_empty(row[col_key]):
        temp_str = row[col_key]
        search = re.search(hq_search_regex, temp_str)
        result = search.group(0) if search else ''  # by default, we will only consider the first matching group 
        # - as this column should contain a single qualification
        row[col_key] = result.strip()

df.apply(lambda row : hq_cleaner(row, 'HQ'), axis=1)
# Replace cells with empty string with NA
df.replace(r'^\s*$', np.NaN, regex=True, inplace=True)
df['HQ'].value_counts()

(t_m$$business administration)                                   75
(t_m$$science)                                                   18
(t_p$$business administration)                                   10
(t_b$$applied science)                                           10
(t_m$$commerce)                                                   9
(t_m$$arts)                                                       7
(t_m$$philosophy)                                                 4
(t_p$$philosophy)                                                 4
(t_p$$economics)                                                  4
(t_m$$management)                                                 3
(ma$$international business)                                      3
(t_m$$business)                                                   2
(t_p$$accounting)                                                 2
(t_m$$law)                                                        2
(t_m$$education)                                                  2
(t_m$$applied finance)                                            1
(t_p$$hrm/ organizational pyschology)                             1
(t_p$$business management)                                        1
(t_m$$strategic hr mgmt)                                          1
(t_m$$degree in public relations and press office management)     1
(t_b$$business administration)                                    1
(t_m$$marketing)                                                  1
(t_p$$public policy and administration)                           1
(t_m$$international business)                                     1
(t_p$$education and human resources studies)                      1
(t_m$$banking & finance)                                          1
(t_m$$engineering)                                                1
(t_p$$middle eastern and islamic studies)                         1
(t_m$$professional studies)                                       1
(t_p$$corporate governance and accounting)                        1
(t_p$$marketing)                                                  1
(t_p$$business admin)                                             1
(t_p$$economic sciences)                                          1
(t_m$$quality management)                                         1
(ma$$accounting)                                                  1
(t_m$$distance education)                                         1
(t_b$$science)                                                    1
(ma$$teaching)                                                    1
(t_p$$jurisprudence degree)                                       1
(t_p$$management sciences)                                        1
(t_m$$education technology)                                       1
(t_p$$economics and international business)                       1
(t_p$$education)                                                  1
(t_p$$organization and management)                                1
(t_p$$management)                                                 1
Name: HQ, dtype: int64

#### Data Wrangling AQL

A similar approach (like HQ) needs to followed to **structurize the qualifications**, in the form of a set like:

```
{(t_b$$business administration), (t_b$$applied science), ..}
```

This set could be even **used for data imputation of HQL and HQ!**. We can simply sort the set by qualification prefixes t_b, t_m/t_mb/ma, t_p in order (lowest to highest) and find the highest level as well as the subject.

However, in the interest of time, I am skipping the code implementation for the same.

#### Data Wrangling the "DOCUMENT OTHER ... " column

Let's take a sneak peak from this column

In [132]:
df.rename(columns={
        'DOCUMENT OTHER PROFESSIONAL CERTIFICATION CRITIERA Five Years Work Experience '
        'Teaching Excellence Professional Certifications': 'OtherDoc'}, inplace=True
)

print(df['OtherDoc'].head(10))

0    10+ Years Small Business Ownership, 10+ Years ...
1    years of teaching experience: 17              ...
2    Years of teaching experience: 15 Years of prof...
3    6 years professional experience + 6 years teac...
4    1 year professional experience + 24 years teac...
5                                                  NaN
6                                                  NaN
7                         11 years teaching experience
8    7+ years Teaching/Corporate Training experienc...
9    Taught 1 business course (1 semester)  Have be...
Name: OtherDoc, dtype: object

Its clear that there is no specific structure - and a simple regex won't be sufficient. We could however, try to make a rough **phrase-tokeniser by multiple regex's or some carefully selected separators**. By **phrase-tokens**, I mean small meaningful sentences like `Years of teaching experience: 17`.

In [133]:
separators = [
    {'name': 'comma', 'regex': False, 'separator': ','},
    {'name': 'semi_colon', 'regex': False, 'separator': ';'},
    {'name': 'dot', 'regex': False, 'separator': '.'},
    {'name': 'tab', 'regex': False, 'separator': '\t'},
    {'name': 'plus', 'regex': False, 'separator': '+'},
    {'name': 'newline', 'regex': False, 'separator': '\n'},
    {'name': 'slash', 'regex': False, 'separator': '/'},
    {'name': 'and', 'regex': False, 'separator': 'and'},
    {'name': 'ampersand', 'regex': False, 'separator': '&'},
    # all regexes below split by capture groups
    {'name': 'regex_1', 'regex': True, 'separator': r'(?i)(.*?experience:\s?\d+)'},
    {'name': 'regex_1', 'regex': True, 'separator': r'(?i)(\d+\s+(years|yrs|year|yr)\s+prof.*?experience)'},
    {'name': 'regex_1', 'regex': True, 'separator': r'(?i)(\d+\s+(years|yrs|year|yr)\s+teaching\s(and\s.*?researcher)?)'},
    {'name': 'regex_2', 'regex': True, 'separator': r'(?i)(\d+.+?(years|yrs|year|yr).+?experience)'},
    {'name': 'regex_2', 'regex': True, 'separator': r'(?i)(.*work experience)\s?and(.*teaching)'},
    {'name': 'regex_3', 'regex': True, 'separator': r'(?i).*?(part time.*)'},
    {'name': 'regex_4', 'regex': True, 'separator': r'(?i)(^(?!,).*(certificate|certification).*(,|;))'},
    {'name': 'regex_5', 'regex': True, 'separator': r'(?i)(,|;)(\s+.*(certificate|certification).*)'},
    {'name': 'regex_whitespace_2+', 'regex': True, 'separator': r'(?:\s{2,})'},
    {'name': 'regex_whitespace_3+', 'regex': True, 'separator': r'(?:\s{3,})'}
]

def phrase_tokenizer(row):
    row_value = row['OtherDoc']
    phrase_tokenize_result = []
    
    if check_is_not_empty(row_value):
        separator_wise_splits = {}
        for separator in separators:
            if not separator['regex']:
                separator_wise_splits[separator['name']] = {
                    'split_values': row_value.split(separator['separator'])
                }
            else:
                separator_wise_splits[separator['name']] = {
                    'split_values': re.split(separator['separator'], row_value)
                }
        
        return {'separator_wise_splits': separator_wise_splits}
        

# Lets see the results
temp_check = df[['OtherDoc']].copy(deep=True)
temp_check['PhraseTokens'] = temp_check.apply(lambda row : phrase_tokenizer(row), axis=1)
for idx, rw in temp_check[temp_check['OtherDoc'].str.contains('experience', na = False)].sample(1).iterrows():
    print(rw['OtherDoc'])
    print(json.dumps(rw['PhraseTokens'], indent=2, sort_keys=True))
    print('------')

years of teaching experience: 8 years of professional/management experience: 12 Professional Certification: Certified Attorney, Certified Notary Public and Certified Conveyancer
{
  "separator_wise_splits": {
    "ampersand": {
      "split_values": [
        "years of teaching experience: 8 years of professional/management experience: 12 Professional Certification: Certified Attorney, Certified Notary Public and Certified Conveyancer          "
      ]
    },
    "and": {
      "split_values": [
        "years of teaching experience: 8 years of professional/management experience: 12 Professional Certification: Certified Attorney, Certified Notary Public ",
        " Certified Conveyancer          "
      ]
    },
    "comma": {
      "split_values": [
        "years of teaching experience: 8 years of professional/management experience: 12 Professional Certification: Certified Attorney",
        " Certified Notary Public and Certified Conveyancer          "
      ]
    },
    "dot": {
      "split_values": [
        "years of teaching experience: 8 years of professional/management experience: 12 Professional Certification: Certified Attorney, Certified Notary Public and Certified Conveyancer          "
      ]
    },
    "newline": {
      "split_values": [
        "years of teaching experience: 8 years of professional/management experience: 12 Professional Certification: Certified Attorney, Certified Notary Public and Certified Conveyancer          "
      ]
    },
    "plus": {
      "split_values": [
        "years of teaching experience: 8 years of professional/management experience: 12 Professional Certification: Certified Attorney, Certified Notary Public and Certified Conveyancer          "
      ]
    },
    "regex_1": {
      "split_values": [
        "years of teaching experience: 8 years of professional/management experience: 12 Professional Certification: Certified Attorney, Certified Notary Public and Certified Conveyancer          "
      ]
    },
    "regex_2": {
      "split_values": [
        "years of teaching experience: 8 years of professional/management experience: 12 Professional Certification: Certified Attorney, Certified Notary Public and Certified Conveyancer          "
      ]
    },
    "regex_3": {
      "split_values": [
        "years of teaching experience: 8 years of professional/management experience: 12 Professional Certification: Certified Attorney, Certified Notary Public and Certified Conveyancer          "
      ]
    },
    "regex_4": {
      "split_values": [
        "",
        "years of teaching experience: 8 years of professional/management experience: 12 Professional Certification: Certified Attorney,",
        "Certification",
        ",",
        " Certified Notary Public and Certified Conveyancer          "
      ]
    },
    "regex_5": {
      "split_values": [
        "years of teaching experience: 8 years of professional/management experience: 12 Professional Certification: Certified Attorney, Certified Notary Public and Certified Conveyancer          "
      ]
    },
    "regex_whitespace_2+": {
      "split_values": [
        "years of teaching experience: 8 years of professional/management experience: 12 Professional Certification: Certified Attorney, Certified Notary Public and Certified Conveyancer",
        ""
      ]
    },
    "regex_whitespace_3+": {
      "split_values": [
        "years of teaching experience: 8 years of professional/management experience: 12 Professional Certification: Certified Attorney, Certified Notary Public and Certified Conveyancer",
        ""
      ]
    },
    "semi_colon": {
      "split_values": [
        "years of teaching experience: 8 years of professional/management experience: 12 Professional Certification: Certified Attorney, Certified Notary Public and Certified Conveyancer          "
      ]
    },
    "slash": {
      "split_values": [
        "years of teaching experience: 8 years of professional",
        "management experience: 12 Professional Certification: Certified Attorney, Certified Notary Public and Certified Conveyancer          "
      ]
    },
    "tab": {
      "split_values": [
        "years of teaching experience: 8 years of professional/management experience: 12 Professional Certification: Certified Attorney, Certified Notary Public and Certified Conveyancer          "
      ]
    }
  }
}
------

In the above output, we can observe that some trial and error with regexes ... we are able to catch sub-phrases by some of the **separator** styles. (Note: Since sampling is random in the above statement, results will differ everytime the code is run)

Now, the problem is to weed out the values which are not split, or split uncleanly.

For this we can write a sanitizer, using some guesses and approximations.

1. Remove all results below a specific length (Initially we start with 10 .. we can adjust this through trial and error)
2. Remove all results above a specific lenght (Initially we start with 100 .. we can adjust this through trial and error)
3. Replace `.`, `+`, 'plus`, ':`, `;` with empty string (we don't need stopwords inside phrase-tokens
4. Convert presence of "word-numbers" to numeric representation. For example - "Nine years of teaching experience" would be converted to "9 years of teaching experience"
5. [After step 3] Strip out all the numbers from the phrase-tokens and put them in a separate list. We intend to cluster common results together. Having numerical values would cause unneccessary variance.
6. Remove all instances of multiple whitespaces like `  ` with a single whitespace.
7. Deduplicate splits (phrase-tokens) if multiple separators have given the same output

In [134]:
from utils.text_to_num import text2int

def phrase_token_sanitizer(row):
    row_value = row['PhraseTokens']
    deduplicated_phrases = set()
    if check_is_not_empty(row_value):
        for separator_type, separated_phrases in row_value['separator_wise_splits'].items():
            cleaned_phrases = []
            cleaned_phrases_numerics = []
            for phrase in separated_phrases['split_values']:
                if not phrase:
                    continue
                if len(phrase) <= 10:
                    # 10 is the length of the string '100+ Years'
                    # Too small token to be meaningful
                    continue
                if len(phrase) >= 100:
                    # To err on the safer side, we assume the splitting was unclean (adjust by trial and error)
                    continue

                # Before mutating the selected phrase, we should ideally STORE this - to perform later analysis
                # on which part of the original string WAS NOT selected ..
                # .. (by subtracting selected phrase from the original string)
                phrase = phrase.replace('.', '')
                phrase = phrase.replace(',', '')
                phrase = phrase.replace('+', '')
                phrase = phrase.replace('plus', '')
                phrase = phrase.replace(':', '')
                phrase = phrase.replace(';', '')
                # Replace multiple whitespaces with a single whitespace
                phrase = ' '.join(phrase.split())
                phrase = phrase.strip()

                if phrase:
                    # Convert 'word-numbers' to actual decimal numbers
                    phrase = text2int(phrase)

                    # Replace all numbers by the placeholder 'n_u_m'
                    numerics = re.findall(r'(\d+)', phrase)
                    phrase = re.sub(r'(\d+)', 'n_u_m', phrase)

                    cleaned_phrases_numerics.append(numerics)
                    cleaned_phrases.append(phrase)
                    deduplicated_phrases.add(phrase)

            separated_phrases['split_values'] = cleaned_phrases
            separated_phrases['phrases_numerics'] = cleaned_phrases_numerics

    return deduplicated_phrases


temp_check['CleanedPhraseSet'] = temp_check.apply(lambda row: phrase_token_sanitizer(row), axis=1)
# Lets see the results
for idx, rw in temp_check[temp_check['OtherDoc'].str.contains('experience', na = False)].sample(4).iterrows():
    print('Original String: ' + rw['OtherDoc'] + '\n')
    print('Extracted Phrase Tokens: ' + str(rw['CleanedPhraseSet']))
    print('------')

Original String: 15 years of  professional work in education and business areas;  5  years of  teaching experience

Extracted Phrase Tokens: {'n_u_m years of teaching experience ', 'n_u_m years of professional work in education and business areas ', 'teaching experience ', 'professional work in education and business areas ', 'n_u_m years of professional work in education ', 'n_u_m years of professional work in education and business areas n_u_m years of teaching experience ', 'n_u_m years of ', 'business areas n_u_m years of teaching experience '}
------
Original String: years teaching experience: 10+ management experiece-5 years

Extracted Phrase Tokens: {'years teaching experience n_u_m', 'years teaching experience n_u_m management experiece n_u_m years ', 'management experiece n_u_m years '}
------
Original String: EFQM ISO 9001 Internal Auditor, EFQM ISO 9001 External Auditor, 24 years teaching experience

Extracted Phrase Tokens: {'EFQM ISO n_u_m Internal Auditor EFQM ISO n_u_m External Auditor n_u_m years teaching experience ', 'EFQM ISO n_u_m External Auditor ', 'n_u_m years teaching ', 'EFQM ISO n_u_m Internal Auditor EFQM ISO n_u_m External Auditor ', 'n_u_m years teaching experience ', 'EFQM ISO n_u_m Internal Auditor '}
------
Original String: 16 years professional( consulting) experience + 19 years teaching and active researcher. Curriculum development  and research publishing experience

Extracted Phrase Tokens: {'n_u_m years professional( consulting) experience n_u_m years teaching and active researcher ', 'n_u_m years professional( consulting) experience ', 'active researcher Curriculum development ', 'n_u_m years teaching and active researcher ', 'n_u_m years professional( consulting) experience n_u_m years teaching ', 'Curriculum development and research publishing experience ', 'and active researcher ', 'and research publishing experience ', 'research publishing experience '}
------

#### k-Means clustering

(Note: Since sampling is random in the above statement, results will differ everytime the code is run)

The above output looks much better now.

On to the next step: lets run k-means clustering and see if we are able to find some cleanly separated clusters

To run k-means, we need to first vectorize the phrases. k-Means clusterises by distance (euclidean distance) - and hence the notion of a vector - every data point represented as a vector, allows for euclidean calculation between data points.

For vectorising, we will use the "bag of words" approach. We will count the occurences of a particular word in a phrase, and use that for vector representation.

In [135]:
from sklearn.feature_extraction.text import CountVectorizer

# Build a super list
cleaned_phrase_sets = temp_check['CleanedPhraseSet'].tolist()
cleaned_phrases_all = list()
for set_item in cleaned_phrase_sets:
    for item in set_item:
        cleaned_phrases_all.append(item)

# Pass the list to the word vectorizer
vectorizer = CountVectorizer()
features = vectorizer.fit_transform(cleaned_phrases_all).todense()
print(vectorizer.vocabulary_)

{'n_u_m': 273, 'years': 434, 'small': 362, 'business': 63, 'ownership': 296, 'vocational': 421, 'training': 401, 'teaching': 384, 'experience': 150, 'corporate': 101, 'sme': 363, 'consulting': 96, 'of': 289, 'professional': 321, 'management': 253, 'certification': 75, 'gcma': 170, 'acma': 13, 'and': 27, 'active': 14, 'researcher': 338, 'accreditation': 11, 'background': 45, 'year': 433, 'curriculum': 110, 'development': 121, 'certified': 78, 'trainer': 400, 'taught': 382, 'course': 103, 'semester': 349, 'have': 183, 'been': 53, 'doing': 123, 'shadowing': 356, 'observation': 286, 'for': 161, 'now': 284, 'in': 209, 'senior': 351, 'roles': 343, 'higher': 186, 'education': 131, 'months': 270, 'work': 426, 'isw': 232, 'train': 398, 'the': 392, 'fdw': 157, 'icdl': 198, 'excellence': 143, 'award': 44, 'twice': 404, 'institutions': 222, 'more': 271, 'than': 391, 'chartered': 84, 'secretary': 346, 'industry': 214, 'universities': 411, 'colleges': 91, 'socio': 365, 'economic': 127, 'research': 337, 'areas': 30, 'part': 297, 'time': 394, 'on': 292, 'various': 416, 'departments': 117, 'banks': 50, 'university': 412, 'practical': 311, 'banking': 49, 'exerience': 146, 'as': 31, 'visiting': 419, 'faculty': 154, 'full': 166, 'licensed': 246, 'to': 395, 'practice': 312, 'law': 238, 'graduate': 177, 'tertiary': 390, 'learning': 242, 'admitted': 16, 'bar': 51, 'british': 59, 'columbia': 92, 'canada': 67, 'hospitality': 191, 'educator': 133, 'american': 23, 'hotleirs': 192, 'lodging': 249, 'association': 36, 'media': 262, 'marketing': 257, 'n_u_myears': 277, 'hr': 193, 'uae': 405, 'fdp': 156, 'iim': 206, 'ahmedabad': 20, 'bsi': 60, 'middle': 267, 'east': 125, 'pmp': 306, 'iso': 230, 'trained': 399, 'tafe': 380, 'certificate': 74, 'iv': 234, 'btec': 61, 'advanced': 18, 'diploma': 122, 'executive': 144, 'hrm': 195, 'cert': 73, 'classroom': 87, 'assessment': 32, 'icn_u_m': 201, 'teachers': 383, 'norton': 282, 'balanced': 47, 'scorecard': 345, 'strategy': 371, 'implementation': 208, 'kaplan': 236, 'islamic': 229, 'finance': 158, 'post': 308, 'cerificate': 72, 'educatiion': 130, 'uk': 407, 'member': 263, 'academy': 4, 'efqm': 135, 'internal': 225, 'auditor': 39, 'external': 153, 'pgce': 300, 'fahe': 155, 'celta': 71, 'profesional': 319, 'institute': 220, 'leadership': 241, 'cpa': 104, 'ii': 204, 'cps': 105, 'iii': 205, 'qualifications': 330, 'an_u_m': 25, 'assessor': 34, 'qualification': 329, 'edexcel': 129, 'ma': 251, 'mba': 259, 'accounting': 9, 'ed': 128, 'educationn_u_m': 132, 'australia': 40, 'pcet': 298, 'vn_u_m': 420, 'conducting': 95, 'quality': 332, 'assurance': 37, 'process': 315, 'ocr': 287, 'academic': 3, 'institutional': 221, 'ugc': 406, 'net': 279, 'india': 211, 'planning': 305, 'delivering': 113, 'irb': 227, 'instructional': 223, 'skills': 361, 'workshops': 430, 'blended': 56, 'online': 293, 'instructor': 224, 'project': 326, 'supply': 375, 'chain': 82, 'takaful': 381, 'uyears': 415, 'global': 173, 'six': 360, 'sigma': 358, 'working': 427, 'notary': 283, 'public': 327, 'conveyancer': 98, 'green': 179, 'belt': 54, 'commercial': 93, 'cap': 69, 'ttw': 403, 'ftw': 164, 'isalmic': 228, 'cma': 88, 'exams': 142, 'aviation': 43, 'analyst': 26, 'many': 256, 'certifications': 76, 'mainly': 252, 'oil': 291, 'gas': 168, 'equis': 137, 'grant': 178, 'writing': 432, 'reserach': 339, 'aacsb': 0, 'accreditaion': 10, 'hrd': 194, 'curricula': 109, 'design': 119, 'reporting': 336, 'lead': 239, 'associate': 35, 'icma': 200, 'icsa': 202, 'singapore': 359, 'exp': 147, 'mgmt': 266, 'prof': 318, 'tqm': 396, 'supervisory': 374, 'acfe': 12, 'us': 413, 'from': 163, 'cambridge': 66, 'expirience': 152, 'oracle': 294, 'yrs': 435, 'pgcthe': 301, 'experiece': 149, 'cim': 85, 'ethics': 139, 'dba': 112, 'abd': 1, 'webmaster': 423, 'beverage': 55, 'seminar': 350, 'september': 353, 'october': 288, 'holiday': 188, 'inn': 216, 'general': 171, 'may': 258, 'food': 160, 'inns': 219, 'tecahing': 387, 'college': 90, 'manager': 254, 'sphr': 367, 'n_u_mv': 275, 'workplace': 428, 'professionaln_u_m': 322, 'accacmaaicwa': 5, 'experianc': 148, 'mcse': 261, 'mcp': 260, 'ici': 199, 'practitioner': 313, 'it': 233, 'khalifa': 237, 'fund': 167, 'entrepreneurs': 136, 'phi': 302, 'theta': 393, 'kapa': 235, 'international': 226, 'honor': 189, 'society': 364, 'usa': 414, 'ctpp': 108, 'gcc': 169, 'foundations': 162, 'cwd': 111, 'pi': 303, 'groundwater': 180, 'prior': 314, 'vp': 422, 'coo': 99, 'st': 368, 'charles': 83, 'drilling': 124, 'cags': 64, 'ebusn': 126, 'wharton': 424, 'gfd': 172, 'delta': 115, 'mu': 272, 'publishing': 328, 'pp': 310, 'license': 245, 'program': 324, 'coordinator': 100, 'tender': 389, 'writer': 431, 'hnd': 187, 'syallabus': 377, 'module': 269, 'developer': 120, 'leader': 240, 'retailing': 342, 'bahrain': 46, 'wi': 425, 'efi': 134, 'verifier': 417, 'descriptor': 118, 'outcomes': 295, 'based': 52, 'approximate': 29, 'industrial': 212, 'including': 210, 'positions': 307, 'held': 185, 'at': 38, 'level': 243, 'student': 372, 'services': 355, 'administration': 15, 'n_u_myear': 276, 'national': 278, 'bank': 48, 'fujairah': 165, 'department': 116, 'profession': 320, 'mini': 268, 'personal': 299, 'recruitment': 334, 'officer': 290, 'al': 21, 'sharq': 357, 'hospital': 190, 'strategic': 370, 'harvard': 181, 'understanding': 409, 'workshop': 429, 'executives': 145, 'professionals': 323, 'certifications_': 77, 'virginia': 418, 'cgma': 81, 'industrrial': 213, 'teacing': 385, 'logistics': 250, 'transport': 402, 'ison_u_m': 231, 'iecn_u_m': 203, 'service': 354, 'continuity': 97, 'information': 215, 'security': 348, 'has': 182, 'good': 174, 'product': 316, 'sales': 344, 'started': 369, 'sept': 352, 'support': 376, 'real': 333, 'estate': 138, 'exam': 141, 'committee': 94, 'also': 22, 'advance': 17, 'systems': 378, 'human': 196, 'resources': 341, 'gphr': 176, 'delivery': 114, 'new': 281, 'zeal': 436, 'accountants': 8, 'zealand': 437, 'government': 175, 'australiamember': 41, 'bo': 57, 'undergraduate': 408, 'postgraduate': 309, 'levels': 244, 'branch': 58, 'production': 317, 'line': 247, 'experiencen_u_m': 151, 'ntis': 285, 'assessments': 33, 'taan_u_m': 379, 'australian': 42, 'abra': 2, 'team': 386, 'neuro': 280, 'linguistic': 248, 'programming': 325, 'methodology': 264, 'specialist': 366, 'european': 140, 'hungarian': 197, 'california': 65, 'technician': 388, 'registered': 335, 'cost': 102, 'accountant': 7, 'manangement': 255, 'account': 6, 'ima': 207, 'reseracher': 340, 'innovation': 217, 'unit': 410, 'agriculturist': 19, 'financial': 159, 'planner': 304, 'cfp': 80, 'cfa': 79, 'an': 24, 'applied': 28, 'innovations': 218, 'coaches': 89, 'bus': 62, 'n_u_m_': 274, 'credits': 106, 'qualified': 331, 'trader': 397, 'canadian': 68, 'securities': 347, 'hcima': 184, 'cthcm': 107, 'cipd': 86, 'case': 70, 'study': 373, 'methods': 265}

In [136]:
# Executing k-means
from sklearn.cluster import KMeans

_cluster_size = 8

km = KMeans(
    n_clusters=_cluster_size, init='random',
    n_init=12, max_iter=10000,
    tol=1e-04, random_state=0
)
labels = km.fit_predict(features)

# To evaluate output, lets create a data-frame with "phrase" and "cluster" together
cluster_map = pd.DataFrame(
    {
        "sentences": cleaned_phrases_all,
        "cluster": km.labels_
    }
)

# Display the output
print("Cluster\t\tSentence")
for index, row in cluster_map.iterrows():
    print(str(row['cluster']) + '\t\t' + str(row['sentences']))

Cluster		Sentence
7		n_u_m Years Small Business Ownership
7		Vocational Business Training n_u_m Years Teaching Experience
7		Years Small Business Ownership n_u_m
7		n_u_m Years Corporate/Vocational Business Training
3		n_u_m Years Small Business Ownership n_u_m Years SME Consulting n_u_m Years Corporate
7		Years Corporate/Vocational Business Training n_u_m Years Teaching Experience
7		Years SME Consulting n_u_m
7		n_u_m Years SME Consulting
7		n_u_m Years Teaching
7		n_u_m Years Teaching Experience
5		years of professional/management experience n_u_m Professional Certification GCMA ACMA
4		years of teaching experience n_u_m years of professional
6		Certification
7		years of teaching experience n_u_m
6		ACMA
5		management experience n_u_m Professional Certification GCMA ACMA
5		management experience n_u_m
4		Years of teaching experience n_u_m Years of professional
4		Years of teaching experience n_u_m Years of professional/management experience n_u_m
3		n_u_m years professional experience n_u_m years teaching
7		n_u_m years teaching and active researcher
3		n_u_m years professional experience n_u_m years teaching and active researcher
5		n_u_m years professional experience
6		and active researcher
6		active researcher
6		Accreditation background
7		n_u_m years teaching and active researcher
3		n_u_m year professional experience n_u_m years teaching
7		n_u_m years teaching and active researcher Curriculum Development and Accreditation background
6		and active researcher
6		active researcher Curriculum Development
6		Curriculum Development and Accreditation background
3		n_u_m year professional experience n_u_m years teaching and active researcher
5		n_u_m year professional experience
7		n_u_m years teaching
7		n_u_m years teaching experience
6		Certified Trainer
6		Teaching Certified Trainer
7		n_u_m years Teaching/Corporate Training experience
7		n_u_m years Teaching
7		Taught n_u_m business course (n_u_m semester) Have been doing shadowing and observation for a year now
7		Taught n_u_m business course (n_u_m semester)
6		observation for a year now
6		Have been doing shadowing and observation for a year now
7		Taught n_u_m business course (n_u_m semester) Have been doing shadowing
2		n_u_m years in senior professional roles in management
2		experience in Higher Education n_u_m years in senior professional roles in management
7		n_u_m years teaching
2		n_u_m years teaching experience in Higher Education
4		n_u_m years of teaching experience n_u_m years of corporate experience
7		n_u_m years of teaching experience
5		n_u_m years of corporate experience
2		n_u_m year and n_u_m months in teaching
0		n_u_m year work experience and n_u_m year and n_u_m months in teaching
0		n_u_m year work experience and n_u_m year and n_u_m months in teaching ISW
0		n_u_m year work experience
2		n_u_m months in teaching ISW
5		n_u_m years Professional Management Experience Train the Trainer ISW FDW ICDL
6		Teaching Excellence Award (twice)
2		n_u_m years of Business teaching experience in Higher Education Institutions
7		n_u_m years teaching
0		More than n_u_m years teaching experience
5		Chartered Secretary n_u_m years industry experience
7		n_u_m years teaching
3		Chartered Secretary n_u_m years industry experience n_u_m years teaching experience
0		Teaching Experience in Universities and Colleges More than n_u_m years
5		Professional Socio economic research experience n_u_m years
2		Teaching Experience in Universities
7		n_u_m years teaching
7		n_u_m years teaching experience
7		n_u_m years of teaching experience
2		n_u_m years of professional work in education and business areas
6		teaching experience
2		professional work in education and business areas
2		n_u_m years of professional work in education
4		n_u_m years of professional work in education and business areas n_u_m years of teaching experience
7		n_u_m years of
7		business areas n_u_m years of teaching experience
6		Part time training experience on various departments of Banks
7		Years University teaching experience
5		n_u_m Years practical banking experience
3		n_u_m years professional experience n_u_m years teaching
7		n_u_m years teaching
5		n_u_m years professional experience
3		n_u_m years professional experience n_u_m years teaching
7		n_u_m years teaching
5		n_u_m years professional experience
7		n_u_m years teaching exerience as a visiting faculty
7		n_u_m years teaching
6		experience as a full time faculty and
5		n_u_m years corporate experience
6		exerience as a visiting faculty
2		licensed to practice law Graduate Certification in Tertiary Teaching and Learning
7		n_u_m years teaching
7		Learning n_u_m years teaching experience
6		Certification
7		n_u_m years teaching experience
6		Admitted to the Bar of British Columbia Canada licensed to practice law
6		Admitted to the Bar of British Columbia
2		Graduate Certification in Tertiary Teaching and Learning n_u_m years teaching experience
6		Certified Hospitality Educator(American Hotleirs and Lodging Association)
6		media marketing
2		n_u_myears experience in Corporate HR and media marketing
6		Certified Hospitality Educator(American Hotleirs and Lodging Association) n_u_m
6		Certified Hospitality Educator(American Hotleirs
2		n_u_myears experience in Higher education in UAE
6		certified FDP IIM ahmedabad BSI middle east
7		PMP certified FDP IIM ahmedabad BSI middle east ISO trained n_u_m years teaching experience
6		PMP certified
7		ISO trained n_u_m years teaching experience
7		n_u_m years teaching
6		FDP IIM ahmedabad
6		experience
6		PMP certified FDP IIM ahmedabad BSI middle east ISO trained
7		n_u_m years teaching experience
6		BSI middle east ISO trained
6		TAFE Certificate IV in Training
7		n_u_m years teaching
6		BTEC Advanced Professional Diploma in Executive HRM
6		Cert in Advanced Classroom Assessment
6		TAFE Certificate IV in Training and Assessment ICn_u_m
6		Certificate
0		Professional Teachers' Certificate More than n_u_m years teaching experience
6		in Advanced Classroom Assessment Professional Teachers' Certificate
0		More than n_u_m years teaching experience
6		TAFE Certificate IV in Training and Assessment
6		Norton Balanced Scorecard Certificate in Strategy Management and Implementation
2		Graduate Certificate in Teaching and Learning
2		Graduate Certificate in Teaching and Learning Kaplan
6		Kaplan & Norton Balanced Scorecard Certificate in Strategy Management and Implementation
2		Graduate Certificate in Teaching
6		Learning Kaplan & Norton Balanced Scorecard Certificate in Strategy Management
6		Certificate
6		Implementation
6		Certificate in Islamic Finance
7		n_u_m years teaching
2		Certificate in Islamic Finance n_u_m years teaching experience
6		Certificate
7		n_u_m years teaching experience
7		n_u_m years teaching
7		n_u_m years teaching experience
6		Industry experience
5		experience n_u_m years
3		Industry experience n_u_m years Teaching experience n_u_m years
5		Industry experience n_u_m years
7		Teaching experience n_u_m years
7		n_u_m years Teaching
6		Post Graduate Cerificate in Educatiion (UK)
6		Member of Higher Education Academy
2		Post Graduate Cerificate in Educatiion (UK) Member of Higher Education Academy
2		experience Post Graduate Cerificate in Educatiion (UK) Member of Higher Education Academy
7		n_u_m years teaching
7		n_u_m years teaching experience
7		n_u_m years teaching
7		n_u_m years teaching experience
5		n_u_m years industry experience
5		experience and n_u_m years industry experience
3		n_u_m years teaching experience and n_u_m years industry experience
7		n_u_m years teaching
7		n_u_m years teaching experience
7		years of teaching experience
7		n_u_m years of teaching experience
3		EFQM ISO n_u_m Internal Auditor EFQM ISO n_u_m External Auditor n_u_m years teaching experience
6		EFQM ISO n_u_m External Auditor
7		n_u_m years teaching
7		EFQM ISO n_u_m Internal Auditor EFQM ISO n_u_m External Auditor
7		n_u_m years teaching experience
6		EFQM ISO n_u_m Internal Auditor
7		years teaching experience
7		n_u_m years teaching experience
7		n_u_m years teaching
6		PGCE FAHE CELTA
6		Management
6		Certification
7		PGCE FAHE CELTA n_u_m years teaching Experience
6		Profesional Certification Member of the Institute of Leadership and Management
6		CPA II and CPS III professional qualifications
6		An_u_m Assessor qualification (Edexcel UK)
6		MA Management and Leadership Practice MBA Accounting and Finance
7		B Ed Business Educationn_u_m years teaching experience
6		MA Management
6		CPS III professional qualifications Certificate IV in Training
6		Certificate IV in Training and Assessment (Australia)
7		n_u_m years teaching
6		PGCE (PCET)
6		Leadership Practice MBA Accounting
6		Certificate
6		MBA Accounting and Finance
6		MA Management and Leadership Practice
6		Vn_u_m Certificate n_u_m Conducting Internal Quality Assurance of Assessment Process (OCR)
6		Member Institute for Learning (UK)
6		Academic Teaching
2		(n_u_m years experience in Institutional Marketing
2		years experience in Institutional Marketing Corporate Training and Academic Teaching
6		UGC NET (India)
6		Edexcel (UK) Professional Certificate in Planning and Delivering Vocational Qualifications
6		Certificate
6		Corporate Training and Academic Teaching
6		Edexcel (UK) Professional Certificate in Planning
7		PGCE n_u_m years teaching experience
7		n_u_m years teaching
7		n_u_m years teaching experience
7		n_u_m years teaching
6		ICDL IRB Instructional Skills Workshops (ISW) Blended online Instructor Training
5		Experience n_u_m years Industry Experience
7		n_u_m years teaching
7		n_u_m years teaching experience
6		ISO n_u_m Internal Auditor
7		n_u_m years teaching
5		ISO n_u_m Internal Auditor Project Management Professional Certification
6		Certification
7		n_u_m years teaching experience
6		Project Management Professional Certification
5		experience ISO n_u_m Internal Auditor Project Management Professional Certification
3		n_u_m years professional experience n_u_m years teaching
7		n_u_m years teaching
5		n_u_m years professional experience
3		n_u_m years professional experience n_u_m years teaching
7		n_u_m years teaching
5		n_u_m years professional experience
3		n_u_m years professional experience n_u_m years teaching
7		n_u_m years teaching and active researcher
3		n_u_m years professional experience n_u_m years teaching and active researcher
5		n_u_m years professional experience
6		and active researcher
6		active researcher
3		n_u_m years professional experience n_u_m years teaching
7		n_u_m years teaching and active researcher
3		n_u_m years professional experience n_u_m years teaching and active researcher
5		n_u_m years professional experience
6		and active researcher
6		active researcher
5		n_u_m years Professional experience
7		n_u_m years teaching
3		n_u_m years Professional experience n_u_m years teaching
7		n_u_m years Teaching Experience
7		n_u_m years Teaching Experience active researcher
6		Experience active researcher
6		active researcher
7		n_u_m years Teaching
5		n_u_m years Professional experience
7		n_u_m years teaching
3		n_u_m years Professional experience n_u_m years teaching
3		n_u_m years professional experience n_u_m years teaching
7		n_u_m years teaching
5		n_u_m years professional experience
6		Certificate in Supply chain
3		n_u_m years professional experience n_u_m years teaching
6		Certificate Takaful Professional
7		n_u_m years teaching
5		n_u_m years professional experience
6		Certificate
6		Certificate Takaful Professional Certificate in Supply chain
3		n_u_m years professional experience n_u_m years teaching and Curriculum development
5		n_u_m years Professional experience
7		n_u_m years teaching and active researcher
3		n_u_m years Professional experience n_u_m years teaching and active researcher
6		and active researcher
6		active researcher
3		n_u_m years Professional experience n_u_m years teaching
5		management experience n_u_m
4		years of teaching experience n_u_m years of professional/management experience n_u_m
4		years of teaching experience n_u_m years of professional
5		management experience n_u_m
4		years of teaching experience n_u_m years of professional/management experience n_u_m
4		years of teaching experience n_u_m years of professional
5		management experience n_u_m
4		years of teaching experience n_u_myears of professional
4		years of teaching experience n_u_myears of professional/management experience n_u_m
5		management experience n_u_m
4		years of teaching experience n_u_m years of professional/management experience n_u_m
4		years of teaching experience n_u_m years of professional
5		n_u_m year industry experience
4		n_u_m years of teaching experience/n_u_m year industry experience
7		n_u_m years of teaching experience
5		management experience n_u_m
4		years of teaching experience n_u_m years of professional/management experience n_u_m
4		years of teaching experience n_u_m years of professional
7		n_u_m years of teaching experience
5		n_u_m uyears of Industry Experience
4		n_u_m uyears of Industry Experience/n_u_m years of teaching experience
7		years of teaching experience
5		uyears of Industry Experience/n_u_m
6		CELTA and marketing Certification
3		n_u_m years teaching n_u_m years global industry Six Sigma CELTA
7		n_u_m years global industry Six Sigma CELTA and marketing Certification
7		n_u_m years global industry
7		n_u_m years teaching
3		n_u_m years teaching n_u_m years global industry Six Sigma CELTA and marketing Certification
6		Certification
6		marketing Certification
3		n_u_m years teaching n_u_m years working in business
2		n_u_m years working in business
7		n_u_m years teaching
6		Certified Notary Public and Certified Conveyancer
6		Certified Conveyancer
6		Certification
4		years of teaching experience n_u_m years of professional
2		n_u_m working in business
7		n_u_m years teaching
6		working in business
7		years teaching n_u_m
7		n_u_m years teaching n_u_m working in business
5		years of professional/management experience
4		years of teaching experience n_u_m years of professional
6		management experience
4		years of teaching experience n_u_m years of professional/management experience
7		years of teaching experience n_u_m
1		management experience n_u_m Six Sigma Green Belt
1		Six Sigma Green Belt
4		years of teaching experience n_u_m years of professional/management experience n_u_m
4		years of teaching experience n_u_m years of professional
7		n_u_m years teaching experience/n_u_m
7		n_u_m years industry
3		experience/n_u_m years industry/n_u_m years commercial training
7		years industry/n_u_m years commercial training
7		n_u_m years teaching
7		n_u_m years teaching experience
3		n_u_m years teaching experience/n_u_m years industry/n_u_m years commercial training
7		n_u_m years commercial training
5		years of professional/management experience n_u_m Professional Certification ICDL
7		years of teaching experience n_u_m
5		management experience n_u_m Professional Certification ICDL
4		years of teaching experience n_u_m years of professional
2		n_u_m years in Education
2		n_u_m years in industry
2		n_u_m years in industry n_u_m years in Education
2		years in industry n_u_m years in Education
5		management experience n_u_m Professional Certification Professional Trainer (CAP)
4		years of teaching experience n_u_m years of professional
5		management experience n_u_m Professional Certification ISW
6		TTW
4		years of teaching experience n_u_m years of professional
4		years of teaching experience n_u_m years of professional
5		management experience n_u_m Professional Certification ISW FTW and TTW
6		FTW and TTW
6		Certification
6		TTW
5		management experience n_u_m
4		years of teaching experience n_u_m years of professional/management experience n_u_m
4		years of teaching experience n_u_m years of professional
5		management experience n_u_m
4		years of teaching experience n_u_m years of professional/management experience n_u_m
4		years of teaching experience n_u_m years of professional
4		Six Sigma years of teaching experience n_u_m years of professional
5		management experience n_u_m
4		years of teaching experience n_u_m years of professional/management experience n_u_m
4		Six Sigma years of teaching experience n_u_m years of professional/management experience n_u_m
5		management experience n_u_m
4		years of teaching experience n_u_myears of professional
4		years of teaching experience n_u_myears of professional/management experience n_u_m
3		n_u_m years professional experience n_u_m teaching experience
6		Certificate Takaful Professional Certificate Isalmic Finance Executive
6		Certificate Isalmic Finance Executive
6		Certificate Takaful Professional
5		n_u_m years professional experience
6		Curriculum development experience
6		Certificate
3		n_u_m years professional experience n_u_m teaching experience and active researcher
5		n_u_m professional experience n_u_m teaching Trainer for CMA Exams and Accreditation experience
6		Accreditation experience
6		Trainer for CMA Exams and Accreditation experience
5		n_u_m professional experience n_u_m teaching Trainer for CMA Exams
5		n_u_m professional experience n_u_m teaching
7		n_u_m teaching Trainer for CMA Exams and Accreditation experience
5		n_u_m professional experience
3		n_u_m years professional experience n_u_m years teaching
7		n_u_m years teaching
5		n_u_m years professional experience
3		n_u_m years professional experience n_u_m years teaching
7		n_u_m years teaching and active researcher
3		n_u_m years professional experience n_u_m years teaching and active researcher
5		n_u_m years professional experience
6		and active researcher
6		active researcher
6		Aviation Finance
6		Accounting
6		Certified Supply Chain Analyst
6		many certifications in Aviation Law
7		n_u_m years teaching
6		certification
3		n_u_m years professional experience( mainly consulting) n_u_m years teaching mainly MBA
6		Certification
5		n_u_m years professional experience( mainly consulting)
6		Oil and Gas Accounting Certificate
6		Gas Accounting Certificate
6		EQUIS) grant writing
7		n_u_m years Reserach and teaching experience AACSB accreditaion and curriculum assessment
6		Certifications HRD Certificate Oil and Gas Accounting Certificate
6		curriculum assessment curricula design accreditation experience (AACSB
6		curricula design
6		reporting Certifications HRD Certificate Oil
6		and reporting Certifications HRD Certificate
6		teaching experience AACSB accreditaion
6		accreditation experience (AACSB and EQUIS)
6		Certificate
6		grant writing
7		n_u_m years Reserach and teaching experience
7		n_u_m years Reserach
5		management experience Professional Certification ICDL
4		years of teaching experience n_u_m years of professional
4		years of teaching experience n_u_m Industry experience n_u_m years
6		Certified ISO n_u_m Lead Assessor
6		Associate ICMA (Australia)
6		Certification
7		Teaching n_u_m years
3		Work experience n_u_m years Teaching n_u_m years
7		Teaching n_u_m years Certifications Associate of ICSA (Singapore UK)
0		Work experience n_u_m years
4		Years of teaching Exp n_u_m Years of Industry Exp n_u_m
5		/ Mgmt Experience n_u_m Prof
6		TQM Management Certification Professional Online Instructor Certification
7		Years of Teaching Experience n_u_m
6		TQM Management Certification
6		Professional Online Instructor Certification
4		Years of Teaching Experience n_u_m Years of Prof
5		Years of Prof/ Mgmt Experience n_u_m
6		Certification
4		Years of Teaching Experience – n_u_m years Industry Experience – n_u_m years
5		Management/Supervisory Experience – n_u_m years Prof Certifications – CELTA Associate of ACFE (US)
6		Certifications – CELTA Associate of ACFE (US)
0		More than n_u_m years work experience
5		n_u_m years industry experience
3		n_u_m years industry experience n_u_m years teaching experience
7		n_u_m years teaching
6		from Cambridge University
6		Certificate
4		Years of Teaching Experience n_u_m Years of Professional

3		n_u_m years professional n_u_m years Teaching Certificate n_u_mV Workplace Training
7		n_u_m years Teaching Certificate n_u_mV Workplace Training and Assessment
6		Certificate n_u_mV Workplace Training and Assessment
5		n_u_m years professional
6		Assessment
6		Certificate
3		n_u_m years professional n_u_m years Teaching Certificate n_u_mV Workplace Training and Assessment
3		n_u_m years professional n_u_m years Teaching
7		n_u_m years Teaching
3		n_u_m years teaching & n_u_m years teaching experience
6		experience
7		n_u_m years teaching
7		n_u_m years teaching experience
3		n_u_m years professional n_u_m years teaching
5		n_u_m years professional
7		n_u_m years teaching
7		n_u_m years Teaching
7		n_u_m years Professionaln_u_m Years Teaching
5		n_u_m years Professional
7		n_u_m Years Teaching
5		n_u_m years experience
5		n_u_m years professional
3		n_u_m years professional n_u_m years Teaching
7		n_u_m years Teaching
5		n_u_m years professional
3		n_u_m years professional n_u_m years Teaching
7		n_u_m years Teaching
3		n_u_m years professional n_u_m years teaching
5		n_u_m years professional
5		n_u_m years professional n_u_m
7		n_u_m years teaching
3		n_u_m years Professional n_u_m years teaching
5		n_u_m years Professional
7		n_u_m years teaching
5		n_u_m years Professional
3		n_u_m years Professional n_u_m years Teaching
7		n_u_m years Teaching
3		n_u_m years Professional n_u_m years teaching
5		n_u_m years Professional
7		n_u_m years teaching
7		n_u_m years of teaching Exp
4		n_u_m Years of industry & n_u_m years of teaching Exp
7		n_u_m Years of industry
3		n_u_m years industry & n_u_m years Teaching
7		n_u_m years industry &
7		n_u_m years industry
7		n_u_m years Teaching
5		n_u_m years professional
7		n_u_m years professional n_u_myears teaching ACCACMAAICWA
6		n_u_myears teaching ACCACMAAICWA
7		n_u_m years professional n_u_myears teaching
6		professional experience
5		n_u_m years professional experience
5		n_u_m years professional experience
7		n_u_myears professional n_u_m years teaching
6		n_u_myears professional
7		n_u_m years teaching
5		n_u_m years professional
3		n_u_m years professional n_u_m years Teaching
7		n_u_m years Teaching
5		n_u_m years professional
3		n_u_m years professional n_u_m years Teaching
7		n_u_m years Teaching
7		n_u_m years Professionaln_u_m Years Teaching
5		n_u_m years Professional
7		n_u_m Years Teaching
5		n_u_m years professional experience
7		n_u_m years industry experianc e
3		n_u_m Years Teaching& n_u_m years industry experianc e
7		n_u_m Years Teaching
6		Experience
7		n_u_m years teaching
7		n_u_m years teaching Experience
5		n_u_m year experience
6		MCSE MCP
7		MCSE MCP n_u_m years Teaching
7		n_u_m years Teaching
5		n_u_m years of professional
7		n_u_m years of teaching experience
4		management experience n_u_m years of teaching experience CELTA ICI Practitioner
6		ICI Practitioner
5		n_u_m years of professional/management experience
5		n_u_m years professional
3		n_u_m years professional n_u_m years Teaching
7		n_u_m years Teaching
3		n_u_m years professional n_u_m years teaching
5		n_u_m years professional
7		n_u_m years teaching
7		& n_u_m years industry
3		n_u_m years teaching & n_u_m years industry
7		n_u_m years teaching
7		n_u_m years industry
7		n_u_m Years of Teaching
5		n_u_m years of Industry Experience
4		n_u_m years of Industry Experience and n_u_m Years of Teaching
5		n_u_m year professional experience
3		n_u_m year professional experience n_u_m years Teaching
7		n_u_m years Teaching
3		n_u_m years professional experience n_u_m years teaching
7		n_u_m years teaching
5		n_u_m years professional experience
5		n_u_m years professional experience CELTA
5		experience n_u_m years professional experience CELTA
7		n_u_m years teaching
7		n_u_m years teaching experience
3		n_u_m years teaching experience n_u_m years professional experience CELTA
3		n_u_m years experience in Business / IT n_u_m years teaching experience
2		n_u_m years experience in Business
2		n_u_m years experience in Business / IT
7		n_u_m years teaching
7		IT n_u_m years teaching experience
7		n_u_m years teaching experience
3		n_u_m years teaching experience n_u_m years industry experience
7		n_u_m years teaching
5		experience n_u_m years industry experience
6		Certificate IV Workplace Training Australia Khalifa Fund Entrepreneurs Trainer
6		Training Certified Trainer Phi Theta Kapa International Honor Society USA Vocational
6		Khalifa Fund UAE
6		Khalifa Fund Entrepreneurs Trainer
6		Khalifa Fund Entrepreneurs Trainer Khalifa Fund UAE
7		n_u_m Years Teaching
6		Certificate
6		ICDL Certified Professional Trainer (CTPP) GCC Foundations
7		n_u_m Years Teaching Experience
6		Leadership and Training Certified Trainer Phi Theta Kapa International Honor Society USA
6		CWD/PI (Groundwater Industry)
5		n_u_m years professional prior work experience VP and COO St Charles drilling
7		n_u_m years teaching
6		CAGS eBusn
5		n_u_m years professional prior work experience VP
6		Wharton GFD
7		n_u_m years teaching experience
6		Delta Mu Delta Publishing Excellence Award
6		PI (Groundwater Industry) Delta Mu Delta Publishing Excellence Award
6		Cert IV Australia PP
6		Cert IV Australia PP&C License
6		Cert IV Australia
6		PP&C License
7		n_u_m years teaching
7		n_u_m years teaching experience
5		experience n_u_m years profesional management experience
3		n_u_m years teaching experience n_u_m years profesional management experience
5		n_u_m years profesional management experience
6		Program manager coordinator and
6		tender writer Program manager coordinator
7		Program manager for HND BTEC Syallabus from n_u_m to n_u_m
6		module writer
6		Program developer module writer leader and tender writer
6		Program manager coordinator and certified developer for the Retailing program Bahrain
6		leader and tender writer Program manager
6		More than n_u_m
2		n_u_m in association wi EFI International Australia
6		Internal verifier for HND BTEC edexcel UK
7		n_u_m Years Teaching
7		Descriptor and outcomes based learning practitioner from n_u_m to n_u_m
7		n_u_m Years Teaching Experience
5		Approximate n_u_m Yrs Industrial Experience including positions held at management level
7		n_u_m years Student Services Administration
2		n_u_mYear in National Bank of Fujairah & n_u_m years in Student and Academic Services Department
6		Academic Services Department
6		n_u_mYear in National Bank of Fujairah
2		n_u_mYear in National Bank of Fujairah & n_u_m years in Student
2		n_u_m years in Student and Academic Services Department
5		n_u_m/n_u_m Years in Industrial Experience
3		n_u_m & n_u_m/n_u_m Years in Industrial Experience
2		n_u_m Years in Industrial Experience
2		n_u_m year experience in Student and Academic Services
2		n_u_m year experience in Student and Academic Services CELTA
6		Academic Services CELTA
2		n_u_m year experience in Student
2		Experience Certificate in Teaching Profession Mini CELTA
2		n_u_m Years Teaching Experience Certificate in Teaching Profession
2		n_u_m Years Teaching Experience Certificate in Teaching Profession Mini CELTA
6		Mini CELTA
2		Certificate in Teaching Profession Mini CELTA
7		n_u_m Years Teaching
6		Certificate
7		n_u_m Years Teaching Experience
2		Years Teaching Experience Certificate in Teaching Profession Mini CELTA
2		Certificate in Teaching Profession
6		personal development
2		n_u_m years as recruitment officer in Al Sharq Hospital
6		strategic planning and personal development
4		n_u_m years of industry experience and n_u_m Years Teaching Experience
5		n_u_m years of industry experience and
7		n_u_m Years Teaching Experience CELTA
6		Experience CELTA
7		n_u_m Years Teaching
4		n_u_m years of industry experience and n_u_m Years Teaching Experience CELTA
5		n_u_m years of industry experience
2		Harvard Certificate in Teaching for Understanding
7		n_u_m years Teaching Experience
5		n_u_m years of professional management experience
2		n_u_m years of professional management experience Harvard Certificate in Teaching for Understanding
6		Certificate
7		n_u_m years Teaching
6		Instructional Skills Workshop Certificate n_u_m
4		n_u_m Years Teaching Experience n_u_m Years of professional/management experience
5		management experience Instructional Skills Workshop Certificate n_u_m
5		n_u_m Years of professional/management experience Instructional Skills Workshop Certificate n_u_m
7		n_u_m Years Teaching
6		Certificate
3		n_u_m Years Teaching Experience n_u_m Years of professional
7		n_u_m Years Teaching Experience
5		n_u_m Years of professional/management experience Instructional Skills Workshop Certificate
2		n_u_m years experience in administration
4		n_u_m Years of Teaching Experience n_u_m years of Management and Business experience in HR
2		Business experience in HR & IT training
6		Project Management for Executives
6		Academic professionals
7		n_u_m Years of Teaching Experience
4		n_u_m Years of Teaching Experience n_u_m years of Management
6		IT training and Project Management for Executives and Academic professionals
3		n_u_m years professional experience n_u_m years teaching
3		n_u_m years professional experience n_u_m years teaching Certifications_ CPA Virginia and CGMA
6		Certifications_ CPA Virginia and CGMA
5		n_u_m years professional experience
3		n_u_m years professional experience n_u_m years teaching Certifications_ CPA Virginia
7		n_u_m years teaching Certifications_ CPA Virginia and CGMA
6		active researcher Curriculum development
3		n_u_m years professional experience n_u_m years tecahing
5		n_u_m years professional experience
3		n_u_m years professional experience n_u_m years tecahing and active researcher
6		Curriculum development and accreditation background
6		accreditation background
7		n_u_m years tecahing and active researcher Curriculum development and accreditation background
5		n_u_m years of industrrial experience
5		n_u_m years of higher education teacing experience
4		n_u_m years of higher education teacing experience and n_u_m years of industrrial experience
5		Logistics Industry Experience n_u_m Years Teaching Experience
5		n_u_m Years Transport and Logistics Industry Experience
7		n_u_m Years Transport
3		n_u_m Years Transport and Logistics Industry Experience n_u_m Years Teaching Experience
7		n_u_m Years Teaching
7		n_u_m years of higher education Teaching Experience
6		ISOn_u_m Quality Management)
2		Lead Auditor in (ISO/IECn_u_m n_u_m IT Service Management
6		ISOn_u_m Business Continuity Management
5		n_u_m year of Industry experience
6		IECn_u_m n_u_m IT Service Management ISO
6		ISO/IECn_u_m Information Security Management
7		n_u_m years of
0		n_u_m years work experience
5		years professional work experience
5		n_u_m years professional work experience
0		years work experience n_u_m
0		n_u_m years work experience n_u_m years professional work experience
6		and has good research training
3		n_u_m years profesional experience n_u_m years teaching and has good research training
7		n_u_m years teaching and has good research training
6		has good research training
7		n_u_m years teaching
5		n_u_m years profesional experience
3		n_u_m years profesional experience n_u_m years teaching
3		n_u_m years professional experience n_u_m years teaching
7		n_u_m years teaching
5		n_u_m years professional experience
6		n_u_m Industry
7		years teaching
7		n_u_m years teaching
6		Industry and n_u_m
7		n_u_m Industry and n_u_m years teaching
0		years teaching experience n_u_m years work experience in HR
3		n_u_m years teaching experience n_u_m years work experience in HR
0		n_u_m years work experience in HR
7		n_u_m years teaching experience
0		n_u_m year work experience
3		n_u_m years teaching experience n_u_m years work experience product management
0		n_u_m years work experience product management and marketing
7		n_u_m years teaching experience
3		n_u_m years teaching experience n_u_m years work experience product management and marketing
0		years teaching experience n_u_m years work experience product management and marketing
2		years work experience in sales
7		n_u_m years teaching
3		n_u_m years teaching n_u_m years work experience in sales
0		n_u_m years work experience in sales
7		years teaching n_u_m
6		Professional Certified Trainer
6		years Business and Marketing Management Professional Certified Trainer
7		n_u_m years Business and Marketing Management
7		n_u_m Years Teaching experience
6		Marketing Management Professional Certified Trainer
3		n_u_m Years Teaching experience n_u_m years Business
7		Years Teaching experience n_u_m
7		Years Teaching n_u_m Years industry experience (Banking)
3		n_u_m Years Teaching n_u_m Years industry experience (Banking)
7		n_u_m Years Teaching
5		n_u_m Years industry experience (Banking)
2		started teaching in Sept n_u_m work experience in IT support services for n_u_m years
2		started teaching in Sept n_u_m work experience in IT support services for n_u_m
2		started teaching in Sept n_u_m
0		work experience in IT support services for n_u_m years
6		business development
2		years work experience in real estate and business development
3		n_u_m years teaching experience n_u_m years work experience in real estate and business development
3		n_u_m years teaching experience n_u_m years work experience in real estate
0		n_u_m years work experience in real estate and business development
7		years teaching experience n_u_m
7		n_u_m years teaching experience
2		n_u_m years industry (Finance) Professional Certificate in Business Accounting
3		n_u_m Years teaching n_u_m years industry (Finance) Professional Certificate in Business Accounting
7		n_u_m Years teaching
6		Certificate
3		n_u_m years Professional n_u_m years teaching Member of Research and Exam Committee
7		n_u_m years teaching Member of Research and Exam Committee
6		Member of Research and Exam Committee
3		n_u_m years Professional n_u_m years teaching Member of Research
6		Exam Committee
5		n_u_m years Professional
3		n_u_m years Professional n_u_m years teaching
3		n_u_m years professional experience n_u_m years teaching
7		n_u_m years teaching
5		n_u_m years professional experience
6		Also Curriculum development experience
3		n_u_m years professional experience n_u_m years teaching
5		n_u_m years professional experience
6		Certification
6		Advance Online Systems Also Curriculum development experience
6		Global Professional IN Human Resources(GPHR)
3		n_u_m years professional experience n_u_m years teaching
7		n_u_m years teaching
5		n_u_m years professional experience
5		n_u_m years professional experience
3		n_u_m years professional experience n_u_m years teaching(Online course design
6		active researcher
6		delivery)
7		n_u_m years teaching(Online course design and delivery) and active researcher
7		n_u_m years teaching and active researcher
3		n_u_m years professional (consulting) experience n_u_m years teaching and active researcher
6		and active researcher
3		n_u_m years professional (consulting) experience n_u_m years teaching
6		active researcher
5		n_u_m years professional (consulting) experience
2		industry experience in New Zeal
6		Member of the Institute of Chartered Accountants in New Zealand
7		n_u_m Years experience teaching at tertiary level
7		n_u_m years government
6		AustraliaMember of the Institute of Chartered Accountants in New Zeal
2		n_u_m years government and industry experience in New Zealand and Australia
6		Bo at Undergraduate and Postgraduate levels
4		n_u_m years of Industry Experience and n_u_m years of Teaching Experience
5		n_u_m years of Industry Experience
6		Postgraduate levels
7		n_u_m years of Teaching Experience Bo at Undergraduate
7		n_u_m years higher education teaching experience
3		n_u_m years as branch manager n_u_m years higher education teaching experience
5		n_u_m years industrial experience
2		n_u_m years in production line
3		n_u_m years industrial experiencen_u_m years in production line n_u_m years as branch manager
0		More than n_u_m years work experience
0		More than n_u_m years work experience
6		NTIS) n_u_m PMP Project Management Certification
6		Assessments (TAAn_u_m) Australian Business Academy (ABRA
6		PMP Project Management Certification
7		n_u_m years teaching
7		n_u_m years teaching experience
0		More than n_u_m years work experience
6		Certified in team based learning (USA)
6		Certified in Neuro Linguistic Programming (Canada)
2		Certificate in Teaching Methodology in Higher Education
6		Specialist in European Law
6		Hungarian Bar Exam
6		Hungarian Bar Exam Specialist in European Law
0		More than n_u_m years work experience
6		CPA (California
0		More than n_u_m years work experience CPA (California USA)
6		Accounting Technician(UK)
3		n_u_m years professional experience n_u_m teaching experience
6		Certifications Registered Cost Accountant(UK) and Accounting Technician(UK)
5		n_u_m years professional experience
3		n_u_m years professional experience n_u_m years teaching (Online course design and delivery)
7		n_u_m years teaching
3		n_u_m years professional experience n_u_m years teaching (Online course design
5		n_u_m years professional experience
6		Certifications Certified Manangement Account CMA Institute of Management Accountants IMA
6		Certification
6		Training and Executive Education background
6		delivery) Training
6		Institute of Management Accountants IMA
5		n_u_m years tecahing experience and active reseracher Experience in Innovation Unit
2		Experience in Innovation Unit
6		active reseracher Experience in Innovation Unit
3		n_u_m years professional experience n_u_m years tecahing experience and active reseracher
5		n_u_m years professional experience
3		n_u_m years professional experience n_u_m years tecahing experience
6		Licensed Agriculturist
6		Certified Financial Planner (CFP)
0		More than n_u_m years work experience
6		Chartered Financial Analyst (CFA)
6		Certified Management Accountant (CMA)
0		More than n_u_m years work experience
0		More than n_u_m years work experience
0		More than n_u_m years work experience
6		certified as an applied instructor in innovations
0		More than n_u_m years work experience
0		More than n_u_m years work experience certified as an applied instructor in innovations
6		Certificate III for Professional Workplace Coaches
0		More than n_u_m years work experience
0		More than n_u_m years work experience
0		More than n_u_m years work experience
6		BUS n_u_m_(Financial Management) n_u_m Course Credits
0		More than n_u_m years work experience
0		More than n_u_m Years work experience qualified security trader (Canadian Securities Institute)
0		More than n_u_m Years work experience
6		qualified security trader (Canadian Securities Institute)
0		More than n_u_m years work experience
0		More than n_u_m years work experience
0		More than n_u_m years work experience
0		More than n_u_m years work experience Certified Train the Trainer
6		Certified Train the Trainer
0		More than n_u_m years work experience
6		HCIMA CTHCM
3		n_u_m years professional experience n_u_m years teaching
7		n_u_m years teaching and active researcher
3		n_u_m years professional experience n_u_m years teaching and active researcher
6		Curriculum Development experience
5		n_u_m years professional experience
6		and active researcher
7		n_u_m years teaching and active researcher Curriculum Development experience
6		active researcher Curriculum Development experience
3		n_u_m years professional experience n_u_m years teaching
7		n_u_m years teaching and active researcher
3		n_u_m years professional experience n_u_m years teaching and active researcher
5		n_u_m years professional experience
6		and active researcher
6		active researcher
3		n_u_m years professional( consulting) experience n_u_m years teaching and active researcher
5		n_u_m years professional( consulting) experience
6		active researcher Curriculum development
7		n_u_m years teaching and active researcher
3		n_u_m years professional( consulting) experience n_u_m years teaching
6		Curriculum development and research publishing experience

From the above output, it looks like "n_u_m Years Teaching" and similar phrases were rightly put into the same cluster.

We can do more optimisations around regexes, sanitisation, to have cleaner clusters. This is an iterative process.